<!--
This is the about page for our web application. This will describe the features we have implemented
and provide a mechanism to go back to the home page. 
-->
<body>
  <div>
    <body>
      <button mat-raised-button color="primary" (click)="goToPage('')">
        Go Back
      </button>
    </body>
  </div>
  <p>
    This is a project implementing client-side PDF annotations for Buildertrend
    Inc. This project is a part of the CSCI 4970 <br />Capstone Project for
    Computer Science students at the University of Nebraska-Omaha.<br />
    This project was built by Andrew Shellberg, Colin Brammeier, Brody
    Himmelberg, and Chris Kiihne. <br />
    <span id="bold">Features</span><br />
    Opening and Editing a PDF using PDF.js<br />
    Opening and Editing a PDF using PSPDF Kit<br />
    Opening and Editing a PDF using PDFTron<br />
  </p>
</body>
