<<<<<<< HEAD
.center {
    text-align: center
}
.bold {
    font-weight: bold;
}
=======
.center {
    text-align: center
}
.bold {
    font-weight: bold;
}
>>>>>>> 4a12b8f0aab40c340f77d34222d2537f8973abde
