.bold {
    font-weight: bold;
}
body {
    padding-top: 20px;
    padding-bottom: 30px;
}
button {
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
}
body {
    text-align: center;
}