<!--
  Feature comparison table. This will hold information about each PDF viewer
  in an easy-to-view page that will give a quick summary of each viewer. 
-->
<body>
<h1 id="header">
  Feature Comparison
</h1>
<table>
  <tr>
    <th>Library</th>
    <th>Features</th>
  </tr>
  <tr>
    <td>
      <a href="/editor">
        PDF.js 
      </a>
    </td>
    <td>
      <ul>
        <li>
          Free to use. 
        </li>
        <li>
          Open Source.
        </li>
        <li>
          Not as many features as the others. Will have to build
          key features using library. 
        </li>
        <li>
          Library is in JavaScript, so able to be embeded using any modern web framework. 
        </li>
        <li>
          License on GitHub explains details of use. 
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="/editor2">PSPDFKit</a>
    </td>
    <td><ul>
      <li>
        More features than PDF.js. 
      </li>
      <li>
        Easy to embed in almost every modern web framework, including React.js. 
      </li>
      <li>
        Not open source. 
      </li>
      <li>
        Have to pay a licensing fee. Commercial support. 
      </li>
    </ul></td>
  </tr>
  <tr>
    <td>
      <a href="/editor3">PDFTron</a>
    </td>
    <td>
      <ul>
        <li>
          Has the most features. Fits most of what Buildertrend is looking for. 
        </li>
        <li>
          Easy to embed.
        </li>
        <li>
          Like PSPDFKit, have to pay a licensing fee. Most fully featured application
          might mean it's the most expensive. 
        </li>
        <li>
          Not open source.
        </li>
      </ul>
    </td>
  </tr>
</table>

  <div id="buttonContainer">
    <button mat-raised-button color="primary" (click)="goToPage('')">
      Home
    </button>
    <button
      mat-raised-button
      color="accent"
      style="margin-left: 10px"
      (click)="goToPage('about')"
    >
      About
    </button>
  </div>
</body>
