<body>
<h1 id="header">
  Feature Comparison
</h1>
<table>
  <tr>
    <th>Library</th>
    <th>Features</th>
  </tr>
  <tr>
    <td>
      <a href="/editor">
        PDF.js 
      </a>
    </td>
    <td>
      <ul>
        <li>
          Feature #1
        </li>
        <li>
          Feature #2
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="/editor2">PSPDFKit</a>
    </td>
    <td><ul>
      <li>
        Feature #1
      </li>
      <li>
        Feature #2
      </li>
    </ul></td>
  </tr>
  <tr>
    <td>
      <a href="/editor3">PDFTron</a>
    </td>
    <td>
      <ul>
        <li>Feature #1</li>
        <li>Feature #2</li>
      </ul>
    </td>
  </tr>
</table>

  <div id="buttonContainer">
    <button mat-raised-button color="primary" (click)="goToPage('')">
      Home
    </button>
    <button
      mat-raised-button
      color="accent"
      style="margin-left: 10px"
      (click)="goToPage('about')"
    >
      About
    </button>
  </div>
</body>
