<body>
  <div>
    <button
      mat-raised-button
      color="primary"
      style="height: 100px; width: 300px"
      (click)="goToPage('')"
    >
      Home Page
    </button>
    <button
      mat-raised-button
      color="primary"
      style="height: 100px; width: 300px"
      (click)="goToPage('editor')"
    >
      PDF.js
    </button>
    <button
      mat-raised-button
      color="accent"
      style="height: 100px; width: 300px"
      (click)="goToPage('about')"
    >
      About
    </button>
    <button
      mat-raised-button
      color="accent"
      style="height: 100px; width: 300px"
      (click)="goToPage('editor2')"
    >
      Editor2
    </button>
    <button
      mat-raised-button
      color="accent"
      style="height: 100px; width: 300px"
      (click)="goToPage('editor3')"
    >
      Editor3
    </button>
    <button
      mat-raised-button
      color="accent"
      style="height: 100px; width: 300px"
      (click)="goToPage('editor4')"
    >
      Editor4
    </button>
  </div>
</body>
